[submodule "yii"]
	path = yii
	url = git@github.com:yiisoft/yii.git
[submodule "source/vendors/swift"]
	path = source/vendors/swift
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "source/vendors/angular-ui-bootstrap"]
	path = source/vendors/angular-ui-bootstrap
	url = https://github.com/angular-ui/bootstrap.git
[submodule "source/vendors/angular-ui"]
	path = source/vendors/angular-ui
	url = https://github.com/angular-ui/angular-ui.git
